.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/Images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.formContainer {
  width: 30%;
  height: auto;
  border-radius: 10px;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 26px white;
}

form{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.formInput input {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
}

::placeholder{
  color: #000;
}

.formInput span{
  color: red ;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-family: 'Roboto Slab', serif;
}

button {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  background-color: lightgreen;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
}

button:active{
  background-color: rgb(76, 175, 80);
}
