.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(219,134,171,1) 0%, rgba(148,187,233,1) 100%);       
}

.section{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_box{
    padding: 0 2rem;
}

.image{
    width: 940px;
    height: 580px;
}

.button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

span{
    font-size: 3rem;
    cursor: pointer;
    color: gray;
}

.leftarrow{
    position: absolute;
    left: 2rem;
    top: -320px;
}

.rightarrow{
    position: absolute;
    right: 2rem;
    top: -20rem;
}

button{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
    cursor: pointer;
    background-color: cornflowerblue;
    border: none;
    padding: 1rem 0.8rem;
    border-radius: 1rem;
}